{% extends 'layout.njk' %}

{% block content %}
    
    <div class="success-lottie"></div>
    <p class="success-lottie">Ação realizada com Sucesso</p>
    <a class="success-lottie" href="/">Voltar</a>
    



<script src="/lottie.min.js" type="text/javascript"></script>
<script>


const element = document.querySelector('.success-lottie')


lottie.loadAnimation({
  container: element, // the dom element that will contain the animation
  renderer: 'svg',
  loop: false,
  autoplay: true,
  path: '/645-success.json' // the path to the animation json
});

</script>

{% endblock %}